<h1>ABOUT</h1>

<div>
	<p>Electrical Equipment Sales, Inc. specializes in motor control centers, motor controls, circuit breakers, disconnects, safety switches, transfer switches, transformer, and more. We pay CASH for high-tech equipment, parts, materials, and excess inventory. In some instances we may be able to offer to use our resources to sell your assets on consignment.</p>
	<p>Most equipment sold on www.electricalsurplus.net is sold at 50-90% off retail prices.</p>
</div>