<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>You have recieved a message from the site's contact form, from <%= "#{ @name }, #{ @phone } #{ @email }." %></p>
	<p><%= @body %></p>
</body>
</html>